.image-popup__window {
  width: auto;
  height: auto;
  max-width: 76vw;
  max-height: 75vh;
  background-image: url();
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;

}
